@import "reset";

.nav1 {
    margin: auto;
    font-family: verdana;
    width: 80%; 
    &_top {
      display:flex;    
      height: 25px;
      width: 100%;    
      margin: auto;    
      background-color: #eddada;
      border-radius: 5px 5px 0 0;    
      align-items: center;    
    
        &_left {
        margin-left: 50px;    
        flex: 1;
            
            &_para {
            font-size: 0.7em;
            } 
            &_link {
            color: dodgerblue;
            text-decoration: none;    
            }
        }
        
        &_right {    
        flex: 1;
        font-size: 0.7em;    
        display: flex;
            &_div {
              margin-right: 15px;
                
            }  
            &_link {
            text-decoration: none;
            color: black;
            line-height: 1.5;    
            }
            &_select {
            border: 1px solid lighten(black, 65%);
            background: transparent;
            font-size: 1em;    
            }
        }
        
    }
    
    &_mid {
      display: flex;    
      align-items: center;
      height: 70px;
      width: 100%;
      background: #f7f7f8;    
      border: 1px solid lightgrey; 
        &_left {    
          position: relative;    
          padding-left: 30px;    
          flex: 1;
          &_logo {
          height: 60px;    
            } 
          &_text {
          position: absolute;
          top:13px;
          font-weight: bolder;
          left:90px;     
          font-size: 1.65em; 
          color: lighten(black, 25%);      
            }    
        }
        &_centre {    
          flex: 4;
            &_list {
            display: flex;
            list-style: none;
            font-size: 0.75em;  
            justify-content: space-evenly;    
            }
            &_item {    
            margin-right: 10px;
            padding: 5px;     
            }
            &_item--active {
              background-color: orange;
                 
            }
              
        }
        &_right {
          flex: 1;
          display: flex;
          font-size: 0.65em;
            &_para--lite {
              color: lighten(black, 60%);
            }
            &_para--bld {
            font-weight: 700;
            }
            &_icon {
            height: 25px;
            width: 25px;
            line-height: 1.8;
            color: white;    
            text-align: center;    
            background-color: orange;
            font-size: 1.4em; 
            margin-right: 5px;     
            }    
        }
    }

    &_btm {
      background-color: #626262;
      width:100%;
      height: 28px;    
      display: flex;
        &_left {    
          color: white;    
          flex: 1.2;    
            &_link {
              color: white;
              text-decoration: none;    
            }
            &_div {
              padding: 5px 10px;    
              height: 100%;
              margin-left: 70px;
              font-size: 0.8em;    
              width: 150px;    
              background-color: darken(#626262, 20%);     
            }
        }  
        
        &_right {
          flex: 4;
          position: relative;
          
            &_icon {
              position: absolute;
              color: orange;
              top: 6px;
              right: 90px;
            }    
        }
        &_input {
          box-sizing: border-box;    
          width: 90%;
          height: 85%;
          padding-left: 137px; 
          margin-top: 2px;     
        }
        &_opt {
          font-size: 0.68em;
          font-weight: 700;
          width: 130px;
          height: 66%;
          top: 5px;
          left: 3px;    
          border-radius: 1.8px;
          background-color: lighten(black, 90%);
          position: absolute;  
          border: none;    
        }
    }



}

