h1{
    font-family: arial;
}

.carousel{
    position: relative;
    height: 250px;
    width: 400px;
    margin: 0 auto;
}

.carousel__image{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.carousel__track-container {
    background: lightgreen;
    position: relative;
    height: 100%;
    overflow-x: hidden ;
}

.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;
    position: relative;
    transition: all 0.5s;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel__button--left {
    left: -50px;
}

.carousel__button--right {
    right: -50px;
}

.carousel__nav{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.carousel__indicator{
    width: 30px;
    height: 4px;
    border: 0;
    margin: 0 6px;
    background-color: rgba(0, 0, 0, 0.2);
}

.carousel__indicator:hover{
    cursor: pointer;
}

.carousel__indicator.current-slide{
    background-color:chartreuse;
}