.card2{
  height: 360px;
  width: 260px;
  background-color:whitesmoke;  
  border-radius: 6px;  
  margin: auto;    
}

.card2_img{
  background-image: url(../images/images.jpg);
  height: 35%;
  width: 100%;
  background-color: lightgreen;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;    
}

.card2_desc{
  padding: 27px ;
  border-bottom: 1px solid lightgrey;    
}

.card2_desc_para {
  color:grey;
  font-family: verdana;
  font-weight: 500;
  text-align: center;
  margin:5px auto;    
}

.card2_data{
  display:flex;
  padding: 20px 0;    
}

.card2_data_div{
  flex: 1;
  border-right: 1px solid lightgrey;    
}

.card2_data_div--mod{
  border-right: none !important; 
}

.card2_data_para{
  margin: 3px;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.85em;
  font-family: verdana;
  color: grey;
}

.card2_btn{
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  display: block;    
  text-decoration: none;
  color: white;
  background-color: aqua;
  font-family: verdana;
  text-align: center;    
  width: 100%; 
  padding: 12px 0;   
}

.card3{
  height: 360px;
  width:600px;
  background-color: white;
  border-radius: 10px;
  font-family: verdana;
  margin: auto; 
  display:flex;    
}

.card3_left {
  padding: 10px 0 10px 10px ;    
  flex:1;  
}

.card3_right {
  flex: 1;
  padding: 0 20px 0 10px;    
}

.card3_left_img {
  margin: 0;    
  background-color: red;
  background-image: url(../images/bag.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -13px;    
  height: 250px;
  width: 280px;     
}

.card3_left_data_para {
  text-transform: uppercase;
  font-weight:600;
  font-size: 0.8em;
  color: darksalmon;
  margin-bottom: 3px; 
  margin-top: 22px;
}

.card3_left_data_btn {
  border: 1px solid darksalmon;
  display: inline-block;    
  height: 20px;
  width: 20px;    
  text-decoration: none;
  color: darksalmon;
  text-align: center;
  padding: 4px;
  font-size: 0.8em;
  font-weight: 600;
  line-height: 1.6; 
  transition: 0.5s;    
}

.card3_left_data_btn:hover {
  background-color: darksalmon;
  color: white;    
}

.card3_right_para {
  color: darksalmon;
  font-weight:600;
  text-transform: uppercase; 
  font-size: 0.74em;
  margin: 45px 0 0;   
}

.card3_right_head {
  margin: 8px 0 13px;   
}

.card3_right_price {
  color: darksalmon;
  margin: 0 0 23px;      
}

.card3_right_info {
 font-size: 0.75em;
 margin: 0 0 10px;
 line-height: 1.7;    
    
}

.card3_right_button {
  display: flex;
  height: 35px;
  position: relative;
}

.card3_right_button_1 {
    flex: 3.5;
    margin-right: 2px;
    background-color: darksalmon;
    border-radius: 2px; 
    text-align: center;
    text-transform: uppercase;
    word-spacing: 2.5px;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 2.2;
    color: white;
}

.card3_right_button_1:hover {
  background-color: salmon;
}

.card3_right_button_2 {
  flex: 1;    
  background-color: darksalmon;
  border-radius: 2px;
}

.card3_right_button_2::after {
  content: "";
  display: block;
  height: 0px;
  width: 0px;
  border-top: 6px solid white;
  border-right: 6px solid transparent; 
  border-left: 6px solid transparent;
  border-bottom: 6px solid transparent; 
  position: absolute;
  top: 45%;
  left: 86.5%;    
}

.card3_right_button_2:hover {
  background-color: salmon;      
}

.card4 {
  height: 250px;
  width: 310px;
  background-color: white;
  margin: auto;
  border-radius: 3px;
  border: 1px solid lightgrey; 
  font-family: verdana;    
}

.card4_top {
  width: 100%;
  height: 25%;
  border-bottom: 1px solid lightgrey;
  background-color: white; 
  position: relative;    
}

.card4_bottom{
  box-sizing: border-box;    
  width: 100%;
  height: 75%;  
  padding: 20px;    
  background-color: white;
}

.card4_top_img {
  height: 60px;
  background-image: url(../images/images.jpg);
  background-size:cover;    
  width: 60px;
  border: 1px solid lightgrey;    
  border-radius: 50px;    
  background-color: white;
  position: absolute;
  top: 30px;
  left: 20px;    
}

.card4_top_info_para {
  margin: 0;
  position: absolute;
  top: 30px;
  right: 20px;   
  text-transform: uppercase;
  font-weight: 600;
  color: grey;
  font-size: 0.65em;
    
}


.card4_bottom_para {
  margin: 25px 0 10px;
  font-size: 0.9em;
  color: grey;  
}

.card4_bottom_head {
  margin: 0;
}

.card4_bottom_info {
  margin: 8px 0;
  font-size: 0.7em;
  color: grey;
}

.card5 {
  background-color: white;    
  height: 280px;
  width: 250px;
  margin: auto;
  border-radius: 3px;
  position: relative;    
  font-family: verdana;    
}

.card5_img {
  background-color: orangered;
  height: 140px;
  width: 220px;
  border-radius: 4px;
  position: absolute; 
  left: 15px;
  top: -20px;    
}

.card5_img_cont {
  height: 50%;
  width: auto;    
}

.card5_head {
  text-align: center;
  margin: 0;
  margin-top: 15px;    
}

.card5_para {
  font-size: 0.7em;
  text-align: center;
  line-height: 1.4;    
}

.card6 {
  background-color: white;    
  height: 350px;
  width: 250px;
  margin: auto;
  border-radius: 1.5px;
  position: relative;    
  font-family: verdana;    
}

.card6_img {
  background: orange;
  height: 68%;  
  position: relative;
  background-image: url(../images/images.jpg);
  background-size: cover;   
}

.card6_img_para1 {
  text-transform: uppercase;
  font-weight: 900;
  color: white;
  height: 30px;    
  background-color: orangered;
  font-size: 0.8em;
  line-height: 2.5;
  text-align: center;
  width: 100px;  
  position: absolute;
  margin: 0;
  bottom: 0;    
}

.card6_img_para2 {
  box-sizing: border-box;    
  height: 50px;
  width: 50px;
  margin: 0;
  text-align: center;
  font-weight: 700;
  color: white;
  background-color: orangered;
  font-size: 0.9em;
  border-radius: 50px;   
  padding: 5px;    
  position: absolute;
  top: 15px;
  right: 20px;    
}

.card6_head {
  margin: 12px 0 6px;  
  margin-left: 18px;    
}

.card6_para {
  margin: 0;
  margin-left: 18px;
  font-size: 0.72em;
  color: orangered;
  font-weight: 600    
}

.card6_para2 {
    margin: 28px 0 0 18px;
    font-size: 0.8em;
    color: grey;
}